.card-container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .card{
        width: 100%;
    }
    .card-body{
        padding-top: 3rem;
    }
}

.form-group {
    position: relative;
    margin-bottom: 1.5rem;
}

.placeholder {
    position: absolute;
    top: 0;
    padding: 7px 0 0 13px;
    transition: all 200ms;
    color: #636363;
}

.form-control:focus + .placeholder,
.form-control.touched + .placeholder {
    font-size: 90%;
    transform: translate3d(0, -100%, 0);
    color: #9b9b9b;
}

#email{
    color: #a1a1a1;
    font-weight: 500;
    border: none;
    border-bottom: solid 1px #dbdbdb;
    border-radius: 0;
    box-shadow: none;
}
#email:focus{
    color: #3b3b3b;
}
.errors{
    color:var(--red);
    text-align: center;
    font-size: .7rem;
}
.clear-button{
    position: absolute;
    top: 0;
    right: 0;
    color: #3b3b3b;
}