<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2 card-container">
      <div class="card mx-auto">
        <!--<img class="card-img-top" src="https://icatcare.org/app/uploads/2018/07/Thinking-of-getting-a-cat.png" alt="Card image cap">-->
        <div class="card-body">
          <form [formGroup]="emailForm" (ngSubmit)="sendEmail()" autocomplete="off">
            <div class="form-group">
              <input formControlName="email" [ngClass]="emailForm?.controls.email.touched ? 'touched':''" type="email" class="form-control" id="email" aria-describedby="emailHelp">
              <label for="email" class="placeholder">Correo Electrónico</label>
              <button *ngIf="emailForm?.controls?.email?.value != ''" class="btn clear-button" (click)="clearEmail()" type="button"><i class="fa fa-close"></i></button>
              <!--<small id="emailHelp" class="form-text text-muted">Te enviaré un correo a tu dirección 😌.</small>-->
              <div *ngIf="!emailForm?.controls.email?.valid  && emailForm.controls.email.dirty" class="errors">
                <div *ngIf="emailForm?.controls.email?.errors?.email">La dirección de correo no tiene el formato correcto</div>
                <div *ngIf="emailForm?.controls.email?.errors?.pattern">Sólo se permite el envío de correos para los servicios Gmail, Yahoo Mail y Outlook.com</div>
              </div>
            </div>
            <button *ngIf="!socketService.sendingEmail" [disabled]="!emailForm.valid" type="submit" class="btn btn-dark btn-lg btn-block">
              Enviar correo
            </button>
            <button *ngIf="socketService.sendingEmail" type="button" class="btn btn-dark btn-lg btn-block">
              <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
              Enviando
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>