/* You can add global styles to this file, and also import other style files */
html,body{
    width: 100%;
    height: 100%;
}
/*body{
    display: flex;
    align-items: center;
    justify-content: center;
}*/